/* Main part CSS */
#title{
  background-color: #ffffff;
}
h5{
color: grey;
}
.navbar-brand{
  color: green;
  font-weight: bolder;
  font-size: 1.75rem;
  font-family: 'Montserrat', sans-serif;
}
.navbar-brand:hover{
  color: #064420;
}
.nav-link{
  color: grey;
}
.nav-item {
  padding: 0 18px;
}
.nav-link:hover{
  color: rgb(80, 93, 235);
}
.main-cc{
  padding: 4% 10%;
}
.donate-button{
  padding: 2% 4% 2 4%;
}
.fa-rupee-sign{
  padding-right: 1rem;
}
.fa-arrow-right{
  padding-left: 1rem;
}
.main-ccolor{
  color: rgb(29, 94, 20);
}
.main-img{
  margin-top: 3rem;
}
.change_content:after{
    content: '';
    animation:changetext 10s infinite linear;
    color:green;
    
}
@keyframes changetext{
    0%{ content:"  Plant trees";}
    10%{ content:" Nourishes Trees";}
    20%{ content:" Grow new Trees";}
    30%{ content:" Water trees";}
    40%{ content:" Take care of Trees";}
    50%{ content:" Campaings";}
    60%{ content:" Stand against deforestation";}
    70%{ content:" Chipkoo movement";}
    80%{ content:" plant trees";}
    90%{ content:" Nourishes trees";}
    100%{ content:" Grow trees";}

   
}

/* Initiatives page CSS */
#initiatives {
  padding: 7% 5%;
  position: relative;
  background-color: #4aa96c;
  z-index: 1;
}
.feature-box {
  text-align: center;
  padding: 1% 5%;
}
.icon {
  color: #f0ec03;
  margin-bottom: 2rem;
}
.icon:hover {
  color: black;
}



/* About Us CSS */
#aboutUs{
  padding: 3% 6%;
  position: relative;
  background-color: #ffffff;
}
.ahead{
  padding-bottom: 3%;
}
.about-content h5 {
  color: black
  ;
}
.apara{
  padding-top: 3%;
  padding-right: 3%;
  text-align: left;
}
.about-us-image{
  padding-right: 5%;
}
.about-font{
  font-family: 'Montserrat', sans-serif;
}
.about-content{
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
/* Contact Us CSS */
#contactUs {
  background-color: #a5885c;
  padding: 1% 15%;
  text-align: center;
}
.social-icons {
  margin: 20px 10px;
  padding: 3%;
  color: #0f0c08;
}
.social-icons:hover{
  color: black;
}
.contact-text{
  font-size: 0.8rem;
}
